$container-max-width: 1240;

$font-size-base: 16px;
$font-size-title: 45;
$font-size-title-min: 35;
$font-family-title: Arial, Helvetica, sans-serif;
$font-family-text: Arial, Helvetica, sans-serif;

$color-font-base: #6a6a6a;
$color-title: #494949;
$color-icon-dark: #191919;
$color-icon-light: #ffffff;
$color-acent: #0087be;
$color-white: #fff;

$section-padding: 100px 0;