.copyright {
    padding: 50px 0;
    background-color: #1a1a1a;
    text-align: center;
    p {
        font-size: 17.2px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #615555;
    }
}